{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('messanger_bp.edit_group', group_id=group.id) }}" method="post" class="form-contact" enctype="multipart/form-data">
    <input type="hidden" name="user_id" value="{{ current_user.get_id() }}">
    <p><label>Фото:</label></p>
        <p>
        {% if group.photo %}
        <img id="previewImg" src="data:image/jpeg;base64,{{ group.photo | b64encode }}" width="64" height="64">
        {% else %}
        <img id="previewImg" src="" width="64" height="64">
        {% endif %}
        </p>
        <p><input id="imageInput" accept="image/*" type="file" name="image" value="добавить фото"></p>
    <p><label>Название группы:</label> <input type="text" name="name" value="{{ group.name }}"></p>
    <p>Пользователи:</p>
    {% for participant in participants %}
        <div id="{{ participant.id }}">
            <p>{% if participant.photo %}
                <img src="data:image/jpeg;base64,{{ participant.photo | b64encode }}" width="32" height="32">
                {% endif %}
                <a href="{{ url_for('friends_bp.profile', user_id=participant.id) }}">{{ participant.username }}</a>
                <a></a>
            </p>
        </div>
    {% endfor %}
    <p><input type="submit" value="Обновить"></p>
    {% for msg in get_flashed_messages() %}{{msg}}{% endfor %}
</form>

<script>
document.getElementById('imageInput').addEventListener('change', function(event) {
    var file = event.target.files[0];  // Получаем выбранный файл

    if (file) {
        var reader = new FileReader();  // Создаем FileReader

        reader.onload = function(e) {
            // Устанавливаем атрибут src изображения на данные, прочитанные FileReader
            var previewImg = document.getElementById('previewImg');
            previewImg.src = e.target.result;
            previewImg.style.display = 'block';  // Отображаем изображение
        };

        reader.readAsDataURL(file);  // Читаем файл как URL данных
    }
});
</script>

{% endblock %}