{% extends 'base.html' %}

{% block content %}

    <div id="chat{{ group_id }}"></div>
    <input id="message" type="text" placeholder="Enter message...">
    <button id="send">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
    var socket = io();

    socket.on('connect', function() {
        socket.emit('join', { 'username': '{{ current_user.get_username() }}', 'group_id': '{{ group_id }}' });
    });

    socket.on('message', function(msg) {
        var chat = document.getElementById('chat{{ group_id }}');
        var p = document.createElement('p');
        p.innerHTML = msg;
        chat.appendChild(p);
    });

    document.getElementById('send').onclick = function() {
        var msg = document.getElementById('message').value;
        socket.emit('message', { 'msg': msg, 'group_id': '{{ group_id }}' });
        document.getElementById('message').value = '';
    };
    </script>
{% endblock %}