{% extends 'base.html' %}

{% block content %}
<a href="add_friend">Найти друга</a>
<form>
    <input type="text" class="input-field" placeholder="Search friend...">
</form>

<ul>
    {% for friend in friends %}
    <li>
        <p>
        <a href="{{ url_for('main.profile', user_id=friend['id']) }}">{{friend['username']}}</a>
        <form action="{{ url_for('main.friends') }}" method="post">
        <input type="hidden" name="user_id" value="{{ friend['id'] }}">
        {% if friend['status'] == 'received' %}
        Хочет добавить вас в друзья
        <input type="submit" name="action" value="Отклонить">
        <input type="submit" name="action" value="Принять">
        {% elif friend['status'] == 'sent' %}
        Ожидает поддверждения
        {% elif friend['status'] == 'confirmed' %}
        <a href="{{ url_for('main.chat', group_id=friend.group_id) }}">Сообщение</a>
        {% endif %}
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}