{% extends 'base.html' %}

{% block content %}
<h1>{{ user.username }}</h1>
{% if user.id == current_user.get_int_id() %}
    {% if user.photo %}
    <img src="data:image/jpeg;base64,{{ user.photo | b64encode }}" width="128" height="128">
    {% else %}
    <form action="{{ url_for('main.profile', user_id=current_user.get_id()) }}" class="form-contact" method="post">
        <p><label>Фото:</label> <input type="file" name="image" value="добавить фото"></p>
        <input type="submit" value="Добавить">
    </form>
    {% endif %}
{% else %}
    {% if user.photo%}
    <img src="data:image/jpeg;base64,{{ user.photo | b64encode }}" width="128" height="128">
    {% else %}
    <h6>no photo</h6>
    {% endif %}
{% endif %}
<p>{{ user.email }}</p>
{% if user.id != current_user.get_int_id() %}
    <form action="{{ url_for('main.profile', user_id=user.id) }}" method="post">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    {% if friendship['status'] == 'received' %}
    <input type="hidden" name="action" value="confirm">
    <input type="submit" value="Принять">
    {% elif friendship['status'] == 'sent' %}
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Отозвать запрос">
    {% elif friendship['status'] == 'confirmed' %}
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Удалить из друзей">
    {% else %}
    <input type="hidden" name="action" value="request">
    <input type="submit" value="Добавить">
    {% endif %}
        {% for msg in get_flashed_messages() %}
        {{msg}}
        {% endfor %}
    </form>

{% endif %}

{% endblock %}