{% extends 'base.html' %}

{% block content %}
<h1>Авторизация</h1>
<form action="{{ url_for('auth_bp.login') }}" method="post" class="form-contact">
    <p><label>Имя пользователя:</label><input type="text" name="username" value=""></p>
    <p><label>Пароль:</label><input type="password" name="password" value=""></p>
    <p><input type="submit" value="Войти">{% for e in get_flashed_messages() %}{{e}}{% endfor %}</p>
    <a href="{{ url_for('auth_bp.registration') }}">Регистрация</a>
</form>
{% endblock %}